* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

header {
    font-size: 18px;
    padding: 0px;
    text-align: center;
    width: 350px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    text-align: center;
}

h1, h2 {
    color: #000000;
    margin: 10px auto;
    padding: 10px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    
}
h3, h4, h5{
    color: #000000;
    margin: 10px auto;
    padding: 10px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

p {
    color: #000000;
    margin: 10px auto;
    padding: 10px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

button {
    padding: 12px;
    border: none;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

input {
    width: 280px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
}

input:focus { 
    outline: none; 
    border-color: #007bff; 
}